<div class="container-fluid d-flex justify-content-center">
  <p>This is an admin account and has access to admin privileges</p>

</div>
<div class="container-fluid d-flex justify-content-center">
  <p>There are <%= User.count %> user(s) in the system</p>
</div>